
body {
    font-size: medium;
    font-family: Serif;
}

h1 {
    background: border-box;
    background-color: skyblue;
    color: azure;
    align-content: center;
    align-self: center;
}

button {
    color: skyblue;
}

h3 {
    color: brown;
}

